

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}


#root {
  max-width: 1280px;
  max-height: inherit;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background: repeat url("./assets/images/Nebula1.jpg");
  background-size: cover;
}

h1,h2,h3,h4,ul,p,button{
  color: lightblue;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

h1{
  font-family:"Major Mono Display", Courier, monospace;
  font-size: 4vw;
}

h2{
  font-size: 1.6vw;
}

h3, p{
  font-size: 1vw;
}

h4{
  font-size: 0.7vw;
  text-shadow: 0.1vw 0.1vw 0.1vw #191921;
}

li{
  padding: 0.5vw;
  text-shadow: 0.1vw 0.1vw 0.1vw #191921;
}

a{
  color: aliceblue;
  text-decoration: none;
}

a:hover{
  color: rgb(3, 3, 61);
  border-bottom: 1px solid;
}

button{
  font-size: 0.7vw;
  margin: 0.5vw;
  padding: 0.4vw 1vw 0.4vw 1vw;
  background: rgba(55, 67, 112, 0.2);
  border-radius: 0.5vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-style: outset;
  border-color: rgba(87, 98, 141, 0.5);
}

button:hover{
  margin: 0.5vw;
  padding: 0.4vw 1vw 0.4vw 1vw;
  background: rgba(110, 128, 193, 0.2);
  border-radius: 0.5vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-style: inset;
}

.container{
  display: flex;
  justify-content: center;
  background: rgba(55, 67, 112, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 2vw;
}

.drawExplanation{
  width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drawSample{
  padding: 1vw;
  text-align: left;
  font-size: 0.7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.selector{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.littleCards-maj{
  margin: 2vw 0 2vw 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(11, 2vw);
  grid-template-rows: repeat(2, 3vw);
  justify-content: center;
}
.littleCards{
  margin: 2vw 0 2vw 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(26, 2vw);
  grid-template-rows: repeat(2, 3vw);
  justify-content: center;
}

.littleCard-item{
  width: 1.5vw;
  height: 2.5vw;
  border-radius: 0.2vw;
  box-shadow: 0.1vw 0.1vw 0.1vw #191921,
              -0.1vw -0.1vw 0.1vw #57628d;
}

.cross{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
}

.tarot-layout{
  margin: 2vw;
  display: grid;
  grid-template-columns: repeat(3, 15vw); /* 3 colonnes */
  grid-template-rows: repeat(3, 25vw);    /* 3 lignes */
  gap: 1vw; /* Espacement entre les cartes */
  width: 100%;
  height: fit-content;
  justify-content: center;
}

.cardSample{
  width: 2.5vw;
  height: 4.5vw;
  border-radius: 0.2vw;
  background: rgba(55, 67, 112, 0.2);
  box-shadow: 0.1vw 0.1vw 0.1vw #191921,
              -0.1vw -0.1vw 0.1vw #57628d;
  color: lightblue;
  font-size: 1.2vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 0.2vw;
}
.tarot-sample{
  margin: 2vw;
  display: grid;
  grid-template-columns: repeat(3, 2.5vw); /* 3 colonnes */
  gap: 1vw; /* Espacement entre les cartes */
  width: 20%;
  height: fit-content;
  justify-content: center;

}
.tarot-layout-sample {
  margin: 2vw;
  display: grid;
  grid-template-columns: repeat(3, 2.5vw); /* 3 colonnes */
  grid-template-rows: repeat(3, 4.5vw);    /* 3 lignes */
  gap: 1vw; /* Espacement entre les cartes */
  width: 20%;
  height: fit-content;
  justify-content: center;
}

.card1 {
  grid-column: 1;
  grid-row: 2; /* Première carte à gauche */
}

.card2 {
  grid-column: 3;
  grid-row: 2; /* Deuxième carte à droite */
}

.card3 {
  grid-column: 2;
  grid-row: 1; /* Troisième carte en haut */
}

.card4 {
  grid-column: 2;
  grid-row: 3; /* Quatrième carte en bas */
}

.card5 {
  grid-column: 2;
  grid-row: 2; /* Cinquième carte au centre (Synthèse) */
}


.cards {
  position: relative;
  padding: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

/* Styles de base pour la carte */
.card-scene {
  width: 15vw;
  height: 25vw;
  perspective: 1000px; /* Pour créer un effet 3D */
  backface-visibility: hidden; /* Cache l'autre face quand on regarde une face */
  cursor: pointer;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg); /* Face avant visible au départ */
  transition: transform 0.6s ease-in-out;
}

.card--flipped {
  animation: cardFlip .275s forwards linear;
}

.card--unflip {
  animation: cardUnFlip .275s forwards linear;
}

/* Effet d'apparition des cartes */
@keyframes cardFlip {
  0% {
    transform: rotateZ(0deg) rotateY(180deg);
  }
  50% {
    transform: rotateZ(-10deg) rotateY(90deg);
  }
  100% {
    transform: rotateZ(0deg) rotateY(0deg); /* Face avant visible */
  }
}

@keyframes cardUnFlip {
  0% {
    transform: rotateZ(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateZ(-10deg) rotateY(90deg);
  }
  100% {
    transform: rotateZ(0deg) rotateY(180deg); /* Face arrière visible */
  }
}

.frontCard, .backCard{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.frontCard{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1.5vw;
  z-index: 3000; 
  background:rgba(27, 33, 54, 0.3);
  box-shadow: 0.25vw 0.25vw 0.7vw #191921,
              -0.25vw -0.25vw 0.7vw #57628d;
  transform: rotateY(180deg); /* La face avant est visible par défaut */
}

.backCard {
  border-radius: 1.5vw;
  background: rgba(27, 33, 54, 0.3);
  box-shadow: 0.25vw 0.25vw 0.7vw #191921,
              -0.25vw -0.25vw 0.7vw #57628d;
  transform: rotateY(0deg); /* La face arrière est à 180° */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.description{
  padding: 0;
  width: 13vw;
  list-style: none;
  font-size: 1.5vw;

}

.frontCard:hover .cardPic{
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
  transition: ease-in 0.5s ;
  transform: translateY(-3vw);
  box-shadow: 0.25vw 0.25vw 0.7vw rgb(87, 98, 141),
  -0.25vw -0.25vw 0.7vw #191921;
  object-fit:cover;

}

.frontCard:hover{
  box-shadow: 0.25vw 0.25vw 0.7vw rgb(87, 98, 141),
  -0.25vw -0.25vw 0.7vw #191921;
  transition: ease-in 0.5s ;
}


.cardPic{
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 15vw;
  height: 25vw;
  border-radius: 1.5vw;
}


.cardName{
  position: absolute;
  bottom: 3vw;
  z-index: 200;
  color:transparent;
  text-shadow: none;
}

.card:hover .cardName{
  color:lightblue;
  transition: ease-in-out 1s ;
  text-shadow: inherit;
}

.backdrop{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 100vw;
  height: 100%;
  /* background-image: linear-gradient(
    0deg,
    rgba(255, 0, 255, 0.7),
    rgba(102, 51, 153, 0.7),
    rgba(30, 144, 255, 0.7),
    rgba(0, 128, 0, 0)
  ); */
  z-index: 10000;
}

.modal{
  width: 25vw;
  height: 30vw;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 2.5vw;
  background: rgba(27, 33, 54, 0.6);
  box-shadow: 0.25vw 0.25vw 0.7vw #191921,
              -0.25vw -0.25vw 0.7vw #57628d;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);


}

body > footer {
  position: fixed;
  bottom: 0;
}

footer{
  margin: 4vw;
  color: lightblue;
  font-family:Georgia, 'Times New Roman', Times, serif;
}